<ion-content>
  <div class="header-div">
    <img src="https://images-na.ssl-images-amazon.com/images/I/61rbwgxdCKL._SL1500_.jpg" class='profile-picture'>
  </div>

  <div class="calc-body">
    <ion-grid style='height: 100%; background-color: blue;'>
      <ion-row style='height: 20%; background-color: white; border: 1px solid #E3E3E3;'>
        <h3 style='test-align: center'>{{FloatTotal(total)}}</h3>
      </ion-row>
      <ion-row style='height: 20%;'>
        <ion-col class='button-calc' size='4' (click)="InputNum(1)">
          1
        </ion-col>
        <ion-col class='button-calc' size='4' (click)="InputNum(2)">
          2
        </ion-col>
        <ion-col class='button-calc' size='4' (click)="InputNum(3)">
          3
        </ion-col>
      </ion-row>
      <ion-row style='height: 20%;'>
        <ion-col class='button-calc' size='4' (click)="InputNum(4)">
          4
        </ion-col>
        <ion-col class='button-calc' size='4' (click)="InputNum(5)">
          5
        </ion-col>
        <ion-col class='button-calc' size='4' (click)="InputNum(6)">
          6
        </ion-col>
      </ion-row>
      <ion-row style='height: 20%;'>
        <ion-col class='button-calc' size='4' (click)="InputNum(7)">
          7
        </ion-col>
        <ion-col class='button-calc' size='4' (click)="InputNum(8)">
          8
        </ion-col>
        <ion-col class='button-calc' size='4' (click)="InputNum(9)">
          9
        </ion-col>
      </ion-row>
      <ion-row style='height: 20%;'>
        <ion-col class='button-calc' size='4'>
          < </ion-col> <ion-col class='button-calc' size='4' (click)="InputNum(0)">
            0
        </ion-col>
        <ion-col class='button-calc' size='4'>
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>